@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham-Book.otf');
}

body {
    overflow:hidden;
}

a {
    color: #007bff;
}

.table-header {
    text-shadow: 2px 2px black;
    font-size: 20px;
}

h3 {
    text-align:center;
    margin-top:20px;
    text-shadow: 2px 2px black;
}

footer > div > ul {
    position: absolute;
    bottom: 13px;
    width: 80%;
}

.flex { 
    display:flex;
}

.sidebar {
    background-color:#343a40!important;
    height:100vh;
    color: #fff;
    font-family: Gotham;
}

.footer {
    text-align: center;
    font-size:10px;
}

.results {
    background-color:#212529;
    font-family: Gotham;  
    width:100%;  
    padding:0 20px;
}

.progress-border {
    margin: 15px 0;
    border-bottom:2px solid #333;
}

.progress-bar {
    width:0%;
    transition: width 1s;
}
.center {
    display: block;
    margin: auto;
}

.search-button {
    width:100%;
}

.logo {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding: 10px;
}

.discogs-user-picture {
    margin:0 20px 0 10px;
    height:100px;
    width:100px;
}

.spinner-parsing {
    display: block;
    margin: auto;
    width: 300px;
}

.spinner {
    width:300px;
}

.state-parsing {
    color:white;
    text-align:center;
}

.not-found {
    color:white;
}

.wantlist-button {
    margin-top: 25px;
    margin-left: auto;
    height: 36px;
}

.no-negative-margin {
    margin:0;
}

.wantlist-track {
    padding:10px;
    height:50px;
}

.some-of-tracks {
    color:white;
}

.white {
    color:white;    
}

.custom-card-padding {
    padding: 3px !important;
}

.artists {
    font-size:10px;
}

.filters-container {
    margin-top: 23px;
    margin-left: 55px;
}

.absolute-position {
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 58%; /* position the left edge of the element at the middle of the parent */
    width:400px;
    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}

.label-filters {
    margin:0;
    margin-left:15px;
}

.switch_box {
    height:100px !important;
    width:100px;
}

.filters-centering {
    width:62%;
    margin:auto;
}

input[type="checkbox"].switch_1:checked { 
    background : #007bff !important;
}

.green {
    color: green;
    font-weight: bold;
}

.green > a {
    color: inherit;
}

.green > a:hover {
    text-decoration: none;
}

.red {
    color: red;
    font-weight: bold;    
}

.red > a {
    color: inherit;
}

.red > a:hover {
    text-decoration: none;
}

.results-container {
    overflow: scroll;
    height: 90vh;
}

.load-more-button {
    margin-top: 40px;
}

.finish {
    color:white;
    text-shadow: 2px 2px black;    
}

@media screen and (max-width: 830px) {
    h3 {
        font-size: 0.75rem;
    }
  }
